.movieDetailsWrapper {
    display: flex;
    max-width: 100%;
    margin: auto;
    align-items: center;
}

.movieImageWrapper {
    width: 250px;
    height: 300px;
    margin-left: 100px;
    margin-right: 15px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.movieDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 100px;
    margin-bottom: 25px;
    margin-top: 25px;
    height: 100%;
}

.movieDetails  a {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

.movieSpecs {
    padding: 0px;
    display: flex;
    align-items: center;
}

.movieSpecs li {
    list-style-type: none;
    max-width: 270px;
    height: 20px;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 12px;
    
}

.summary {
    width: 100%;
    height: 50px;
    line-height: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
    padding-bottom: 10px;
}

.movieDetailsLink {
    margin-top: 10px;
    color: blue;
}

#button {
    padding:0px;
    width: 200px;
    height: 50px;
    border-radius: 11px;
    background-color: white;
    margin: 5px 16px 25px 0px;
}