.searchPageWrapper {
    display: flex;
    flex-direction: column;
 
}

.inputWrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    align-self: center;
    width: 300px;
    height: 30px;
}

.searchInput {
    width: auto;
    height: 28px;
    border-radius: 10px 0px 0px 10px;
}

.searchButton {
    width: auto;
    height: 35px;
    margin-left: 10px;
    font-size: 15px;
    border-radius: 0px 10px 10px 0px;
}