body {
 max-width: 1400px;
 margin: auto;
}

html {
  width: auto;
  margin: auto;
  background-image: url('../src/resources/appBackground.jpg');
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
